# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Secrets
.env
*.pem
*.key
*.p12
*.pfx

# Logs
*.log

# Virtual machines
*.vdi
*.vmdk
*.vhd
*.ova
*.qcow2

# Temporary files
*.tmp
*.temp
